# Subsetting for Dr. Elahi's Proteomics Pilot

In [1]:
# API Code to pull REDCap Report

#!/usr/bin/env python
import requests
data = {
    'token': '', # Write in token before running
    'content': 'report',
    'format': 'csv',
    'report_id': '3739',
    'csvDelimiter': '',
    'rawOrLabel': 'raw',
    'rawOrLabelHeaders': 'raw',
    'exportCheckboxLabel': 'false',
    'returnFormat': 'csv'
}
r = requests.post('https://redcap.rutgers.edu/api/',data=data)
print('HTTP Status: ' + str(r.status_code))
print(r.text) # This prints the HTML style export, comment this line to stop it from printing.

import pandas as pd
from io import StringIO
df = pd.read_csv(StringIO(r.text))

data1 = df
data1 = data1.drop('redcap_repeat_instrument', axis=1)
data1 = data1.groupby(['seqid', 'redcap_repeat_instance']).first().reset_index()
data1.to_csv("/Users/markgluck/Desktop/REDCap/Proteomics Pilot Participant Selection/data/pilot_proteomics_data.csv", index=False) # Change file path before running

data1

# You don't have to run this chunk to use this Notebook, the dataset is "pilot_proteomics_data.csv" in the /data folder

HTTP Status: 200

,seqid,redcap_repeat_instance,subjectid,age_1,gender,education,education_yrs,abca7_80_riskcalc,apoe_riskcalc
0,A001,1,None,NaN,NaN,NaN,NaN,NaN,NaN
1,A002,1,None,NaN,NaN,NaN,NaN,NaN,NaN
2,A003,1,None,NaN,NaN,NaN,NaN,NaN,NaN
3,A003,5,AA_4R003_L,75.0,1.0,1.0,14.0,NaN,NaN
4,A004,1,None,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1246,L152,1,AA_3R152_L,NaN,0.0,1.0,13.0,NaN,NaN
1247,L248,1,AA_4RL248,NaN,NaN,NaN,NaN,NaN,NaN
1248,L259,1,None,NaN,NaN,NaN,NaN,NaN,NaN
1249,L270,1,None,NaN,NaN,NaN,NaN,NaN,NaN
1250,L272,1,AA_R272_L,NaN,NaN,1.0,12.0,NaN,NaN

In [1]:
library(readr)

fullset <- read_csv("/Users/markgluck/Desktop/REDCap/Proteomics Pilot Participant Selection/data/pilot_proteomics_data.csv",
    col_types = cols(
        seqid = col_character(),
        redcap_repeat_instance = col_number(),
        age_1 = col_number(),
        gender = col_double(),
        education = col_number(),
        education_yrs = col_number(),
        abca7_80_riskcalc = col_number(),
        apoe_riskcalc = col_number()
    ),
    na = c("-9", "")
)

spec(fullset)
summary(fullset)

cols(
  seqid = col_character(),
  redcap_repeat_instance = col_number(),
  subjectid = col_character(),
  age_1 = col_number(),
  gender = col_double(),
  education = col_number(),
  education_yrs = col_number(),
  abca7_80_riskcalc = col_number(),
  apoe_riskcalc = col_number()
)

    seqid           redcap_repeat_instance  subjectid             age_1
 Length:1251        Min.   :1.000          Length:1251        Min.   :24.00
 Class :character   1st Qu.:1.000          Class :character   1st Qu.:64.00
 Mode  :character   Median :1.000          Mode  :character   Median :69.00
                    Mean   :1.556                             Mean   :69.17
                    3rd Qu.:2.000                             3rd Qu.:74.00
                    Max.   :9.000                             Max.   :92.00
                                                              NA's   :390
     gender         education     education_yrs   abca7_80_riskcalc
 Min.   :0.0000   Min.   :0.000   Min.   : 6.00   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.000   1st Qu.:12.00   1st Qu.:0.0000
 Median :0.0000   Median :1.000   Median :14.00   Median :0.0000
 Mean   :0.1911   Mean   :1.127   Mean   :13.81   Mean   :0.1034
 3rd Qu.:0.0000   3rd Qu.:2.000   3rd Qu.:15.50   3rd Qu.:0.0000
 Max.   :1.0000   Max.   :4.000   Max.   :22.00   Max.   :1.0000
 NA's   :126      NA's   :674     NA's   :398     NA's   :1077
 apoe_riskcalc
 Min.   :0.0000
 1st Qu.:0.0000
 Median :0.0000
 Mean   :0.4023
 3rd Qu.:1.0000
 Max.   :1.0000
 NA's   :1077

In [19]:
# Subsetting for the ABCA7 Positive & Negative dataset
library(dplyr)
library(skimr)
library(readxl)

# This is the shipment spreadsheet from Elizabeth
mt_sinai <- read_excel("/Users/markgluck/Desktop/REDCap/Proteomics Pilot Participant Selection/data/MtSinai_Shipment.xlsx")

# APOE subsets
apoenegative <- fullset %>%
  filter(apoe_riskcalc == "0")

apoepositive <- fullset %>%
  filter(apoe_riskcalc == "1")
# select(subjectid, apoe_riskcalc, age_1, gender, education_yrs)

# ABCA7-80 subsets
abca7_positive <- fullset %>%
  filter(abca7_80_riskcalc == 1)

abca7_negative <- fullset %>%
  filter(abca7_80_riskcalc == 0) %>%
  filter(age_1 <= 78)

# These are the ID's for ABCA7-80 Positive and APOE Positive in the Mt Sinai shipment spreadsheet
# apoe_supplements <- inner_join(mt_sinai, apoepositive, by = "subjectid")
abca7_positive_mt_sinai <- inner_join(mt_sinai, abca7_positive, by = "subjectid")

# This line joins all Positive IDs, this is the spreadsheet I'll be using
# abca7_apoe_positive_pilots <- full_join(apoe_supplements, abca7_positive_mt_sinai)

write.csv(abca7_apoe_positive_pilots, "data/abca7_all_positive_pilots_2april2024_mzs.csv", row.names = FALSE) # Writes CSV to /data folder

summary(abca7_positive_mt_sinai)

# All ABCA7 negative participants which are also in the shipment set up for Mt. Sinai already
abca7_all_negative <- inner_join(mt_sinai, abca7_negative, by = "subjectid")

write.csv(abca7_all_negative, "data/abca7_all_negative_pilots_21april2024_mzs.csv", row.names = FALSE) # Writes CSV to /data folder

summary(abca7_all_negative)

  subjectid              Date                            Box 1
 Length:11          Min.   :2022-09-01 00:00:00.00   Min.   :1.000
 Class :character   1st Qu.:2023-01-24 00:00:00.00   1st Qu.:2.000
 Mode  :character   Median :2023-02-23 00:00:00.00   Median :2.000
                    Mean   :2023-02-16 19:38:10.91   Mean   :2.091
                    3rd Qu.:2023-04-15 12:00:00.00   3rd Qu.:2.500
                    Max.   :2023-06-06 00:00:00.00   Max.   :3.000

  Position #        Sample Type           Aliquots Volume (mL)
 Length:11          Length:11          Min.   :2   Length:11
 Class :character   Class :character   1st Qu.:2   Class :character
 Mode  :character   Mode  :character   Median :2   Mode  :character
                                       Mean   :2
                                       3rd Qu.:2
                                       Max.   :2

    seqid           redcap_repeat_instance     age_1          gender
 Length:11          Min.   :1.000          Min.   :69.0   Min.   :0.0000
 Class :character   1st Qu.:1.000          1st Qu.:69.0   1st Qu.:0.0000
 Mode  :character   Median :1.000          Median :70.0   Median :0.0000
                    Mean   :1.545          Mean   :71.4   Mean   :0.4444
                    3rd Qu.:2.000          3rd Qu.:73.0   3rd Qu.:1.0000
                    Max.   :3.000          Max.   :76.0   Max.   :1.0000
                                           NA's   :6      NA's   :2
   education     education_yrs  abca7_80_riskcalc apoe_riskcalc
 Min.   :0.000   Min.   :12.0   Min.   :1         Min.   :0.0000
 1st Qu.:1.000   1st Qu.:12.5   1st Qu.:1         1st Qu.:0.0000
 Median :1.000   Median :13.0   Median :1         Median :1.0000
 Mean   :1.333   Mean   :13.0   Mean   :1         Mean   :0.5455
 3rd Qu.:2.000   3rd Qu.:13.5   3rd Qu.:1         3rd Qu.:1.0000
 Max.   :3.000   Max.   :14.0   Max.   :1         Max.   :1.0000
 NA's   :2       NA's   :8

  subjectid              Date                         Box 1
 Length:30          Min.   :2022-10-18 00:00:00   Min.   :1.000
 Class :character   1st Qu.:2023-01-17 00:00:00   1st Qu.:1.000
 Mode  :character   Median :2023-04-18 00:00:00   Median :2.000
                    Mean   :2023-03-12 11:12:00   Mean   :2.167
                    3rd Qu.:2023-05-17 12:00:00   3rd Qu.:3.000
                    Max.   :2023-06-13 00:00:00   Max.   :3.000

  Position #        Sample Type           Aliquots Volume (mL)
 Length:30          Length:30          Min.   :2   Length:30
 Class :character   Class :character   1st Qu.:2   Class :character
 Mode  :character   Mode  :character   Median :2   Mode  :character
                                       Mean   :2
                                       3rd Qu.:2
                                       Max.   :2

    seqid           redcap_repeat_instance     age_1        gender
 Length:30          Min.   :1.000          Min.   :60   Min.   :0.0000
 Class :character   1st Qu.:1.000          1st Qu.:66   1st Qu.:0.0000
 Mode  :character   Median :1.000          Median :70   Median :0.0000
                    Mean   :1.533          Mean   :70   Mean   :0.1667
                    3rd Qu.:1.000          3rd Qu.:73   3rd Qu.:0.0000
                    Max.   :5.000          Max.   :77   Max.   :1.0000

   education   education_yrs   abca7_80_riskcalc apoe_riskcalc
 Min.   :0.0   Min.   :12.00   Min.   :0         Min.   :0.0000
 1st Qu.:1.0   1st Qu.:12.00   1st Qu.:0         1st Qu.:0.0000
 Median :1.0   Median :14.00   Median :0         Median :1.0000
 Mean   :1.2   Mean   :13.75   Mean   :0         Mean   :0.5333
 3rd Qu.:2.0   3rd Qu.:14.00   3rd Qu.:0         3rd Qu.:1.0000
 Max.   :3.0   Max.   :18.00   Max.   :0         Max.   :1.0000
 NA's   :5     NA's   :2

In [18]:
View(abca7_positive_mt_sinai)

   subjectid Date       Box 1 Position # Sample Type Aliquots Volume (mL) seqid
1  AA_R472_L 2022-09-01 1     9,10       EDTA plasma 2        250 uL      A472
2  COV133    2022-11-01 1     59,60      EDTA plasma 2        250 uL      C133
3  AA_R304_L 2023-01-17 2     3,4        EDTA plasma 2        250 uL      A304
4  COV150    2023-01-31 2     19,20      EDTA plasma 2        250 uL      C150
5  COV152    2023-02-07 2     23,24      EDTA plasma 2        250 uL      C152
6  COV161    2023-02-23 2     41,42      EDTA plasma 2        250 uL      C161
7  COV162    2023-02-23 2     43,44      EDTA plasma 2        250 uL      C162
8  COV172    2023-03-28 2     63,64      EDTA plasma 2        250 uL      C172
9  COV187    2023-05-04 3     5,6        EDTA plasma 2        250 uL      C187
10 AA_R269_L 2023-05-25 3     43,44      EDTA plasma 2        250 uL      A269
11 COV203    2023-06-06 3     55,56      EDTA plasma 2        250 uL      C203
   redcap_repeat_instance age_1 gender education education_yrs
1  3                      NA     0      2        NA
2  1                      NA     0      2        NA
3  3                      NA    NA      1        NA
4  1                      NA     1      0        NA
5  1                      NA     0      3        NA
6  1                      76     0      2        NA
7  1                      69     1      1        13
8  1                      NA    NA     NA        NA
9  1                      73     1      0        12
10 3                      69     0      1        14
11 1                      70     1     NA        NA
   abca7_80_riskcalc apoe_riskcalc
1  1                 1
2  1                 0
3  1                 1
4  1                 1
5  1                 1
6  1                 0
7  1                 1
8  1                 1
9  1                 0
10 1                 0
11 1                 0

# 2 April 2024

Dropped the subsets for ABCA7-80 and APOE, going to propensity match a sample using SPSS w/ Bern

In [30]:
# Revising subsetting process for Bern
library(dplyr)
library(skimr)
library(readxl)

# This is the shipment spreadsheet from Elizabeth
mt_sinai <- read_excel("/Users/markgluck/Desktop/REDCap/Proteomics Pilot Participant Selection/data/MtSinai_Shipment.xlsx")

mt_sinai_w_genetics <- left_join(mt_sinai, fullset, by = "subjectid", relationship = "many-to-many")

mt_sinai_w_genetics_no_na <- inner_join(mt_sinai, fullset, by = "subjectid", relationship = "many-to-many") %>%
    filter(abca7_80_riskcalc >= 0)


View(mt_sinai_w_genetics_no_na)

# write.csv(mt_sinai_w_genetics, "data/matching_spss/mt_sinai_genetics.csv", row.names = FALSE)

write.csv(mt_sinai_w_genetics_no_na, "data/matching_spss/mt_sinai_genetics_no_na.csv", row.names = FALSE)

    subjectid  Date       Box 1 Position # Sample Type Aliquots Volume (mL)
1   COV113     2022-08-30 1     3,4        EDTA plasma 2        250 uL
2   COV116     2022-09-01 1     7,8        EDTA plasma 2        250 uL
3   AA_R472_L  2022-09-01 1     9,10       EDTA plasma 2        250 uL
4   COV118     2022-09-13 1     15,16      EDTA plasma 2        250 uL
5   COV121     2022-10-04 1     29,30      EDTA plasma 2        250 uL
6   COV124     2022-10-13 1     37,38      EDTA plasma 2        250 uL
7   COV127     2022-10-13 1     43,44      EDTA plasma 2        250 uL
8   COV128     2022-10-18 1     45,46      EDTA plasma 2        250 uL
9   COV129     2022-10-18 1     47,48      EDTA plasma 2        250 uL
10  COV131     2022-10-25 1     51,52      EDTA plasma 2        250 uL
11  AA_R359_L  2022-10-25 1     53,54      EDTA plasma 2        250 uL
12  AA_3R455_L 2022-11-01 1     55,56      EDTA plasma 2        250 uL
13  COV132     2022-11-01 1     57,58      EDTA plasma 2        250 uL
14  COV133     2022-11-01 1     59,60      EDTA plasma 2        250 uL
15  COV134     2022-11-01 1     61,62      EDTA plasma 2        250 uL
16  COV135     2022-11-01 1     63,64      EDTA plasma 2        250 uL
17  COV136     2022-11-03 1     65,66      EDTA plasma 2        250 uL
18  AA_R392_L  2022-11-03 1     67,68      EDTA plasma 2        250 uL
19  AA_3R486_L 2022-11-10 1     69,70      EDTA plasma 2        250 uL
20  COV_R012   2022-11-10 1     71,72      EDTA plasma 2        250 uL
21  AA_4R259_L 2022-11-29 1     85,86      EDTA plasma 2        250 uL
22  COV139     2023-01-05 1     93, 94     EDTA plasma 2        250 uL
23  COV140     2023-01-05 1     95, 96     EDTA plasma 2        250 uL
24  COV141     2023-01-17 1     97, 98     EDTA plasma 2        250 uL
25  COV142     2023-01-17 1     99, 100    EDTA plasma 2        250 uL
26  COV143     2023-01-17 2     1,2        EDTA plasma 2        250 uL
27  AA_R304_L  2023-01-17 2     3,4        EDTA plasma 2        250 uL
28  COV144     2023-01-19 2     5,6        EDTA plasma 2        250 uL
29  AA_4R160_L 2023-01-19 2     7,8        EDTA plasma 2        250 uL
30  COV145     2023-01-24 2     9,10       EDTA plasma 2        250 uL
... ...        ...        ...   ...        ...         ...      ...
61  COV182     2023-04-11 2     83,84      EDTA plasma 2        250 uL
62  COV184     2023-04-25 2     92, 93     EDTA plasma 2        250 uL
63  COV185     2023-04-25 2     94, 95     EDTA plasma 2        250 uL
64  COV186     2023-05-02 3     1,2        EDTA plasma 2        250 uL
65  COV187     2023-05-04 3     5,6        EDTA plasma 2        250 uL
66  COV188     2023-05-04 3     7,8        EDTA plasma 2        250 uL
67  AA_4R189_L 2023-05-04 3     9,10       EDTA plasma 2        250 uL
68  COV189     2023-05-09 3     11,12      EDTA plasma 2        250 uL
69  COV190     2023-05-09 3     13,14      EDTA plasma 2        250 uL
70  AA_4R143_L 2023-05-11 3     17,18      EDTA plasma 2        250 uL
71  COV191     2023-05-16 3     19,20      EDTA plasma 2        250 uL
72  COV192     2023-05-16 3     21,22      EDTA plasma 2        250 uL
73  COV193     2023-05-18 3     23,24      EDTA plasma 2        250 uL
74  COV194     2023-05-18 3     25,26      EDTA plasma 2        250 uL
75  COV195     2023-05-18 3     27,28      EDTA plasma 2        250 uL
76  COV196     2023-05-18 3     29,30      EDTA plasma 2        250 uL
77  AA_R078_L  2023-05-18 3     31,32      EDTA plasma 2        250 uL
78  COV197     2023-05-23 3     33,34      EDTA plasma 2        250 uL
79  COV198     2023-05-23 3     35,36      EDTA plasma 2        250 uL
80  AA_5R174_L 2023-05-23 3     37,38      EDTA plasma 2        250 uL
81  COV_R001   2023-05-23 3     39,40      EDTA plasma 2        250 uL
82  COV199     2023-05-25 3     41,42      EDTA plasma 2        250 uL
83  AA_R269_L  2023-05-25 3     43,44      EDTA plasma 2        250 uL
84  AAL_R021   2023-05-25 3     45,46      EDTA plasma 2        250 uL
85  AA_3R079_L 2023-05-25 3     47,48      EDTA plasma 2        250 uL
86  COV200     2023-05-30 3     49,50      EDTA plasma 2        250 uL
87  COV202     2023-06-06 3     53,54      EDTA plasma 2        250 uL
88  COV203     2023-06-06 3     55,56      EDTA plasma 2        250 uL
89  COV131     2023-06-13 3     61,62      EDTA plasma 2        250 uL
90  AA_4R259_L 2023-09-19 4     41,42      EDTA plasma 2        250 uL
    seqid redcap_repeat_instance age_1 gender education education_yrs
1   C113  1                      NA     0      1        NA
2   C116  1                      NA     0      3        NA
3   A472  3                      NA     0      2        NA
4   C118  1                      NA     0      2        NA
5   C121  1                      NA     0      1        NA
6   C124  1                      NA     1      2        NA
7   C127  1                      NA     0      0        NA
8   C128  1                      NA     1      0        NA
9   C129  1                      65     0      1        14
10  C131  1                      72     1      1        14
11  A359  3                      73     0      0        12
12  A455  4                      82     0      0        NA
13  C132  1                      63     0      1        14
14  C133  1                      NA     0      2        NA
15  C134  1                      NA     0      0        NA
16  C135  1                      NA     0      1        NA
17  C136  1                      NA     1      0        NA
18  A392  3                      73     1      2        16
19  A486  4                      88     0      1        NA
20  C012  2                      NA     0      0        NA
21  A259  5                      82     0      1        14
22  C139  1                      65     0      0        12
23  C140  1                      69     1      0        12
24  C141  1                      66     0      0        12
25  C142  1                      69     1      1        14
26  C143  1                      NA    NA     NA        NA
27  A304  3                      NA    NA      1        NA
28  C144  1                      NA     0      3        NA
29  A160  5                      NA     0      1        NA
30  C145  1                      NA     1      3        18
... ...   ...                    ...   ...    ...       ...
61  C182  1                      75     0     NA        12
62  C184  1                      79     0      3        16
63  C185  1                      75     0      2        14
64  C186  1                      65     0      3        18
65  C187  1                      73     1      0        12
66  C188  1                      66     0      1        13
67  A189  5                      73     0      1        13
68  C189  1                      NA     0      3        16
69  C190  1                      NA     0      1        14
70  A143  5                      77     0     NA        NA
71  C191  1                      70     0      2        13
72  C192  1                      76     0     NA        13
73  C193  1                      60     0      2        12
74  C194  1                      72     0      2        16
75  C195  1                      74     0     NA        14
76  C196  1                      NA    NA     NA        NA
77  A078  3                      NA    NA     NA        NA
78  C197  1                      83     0      2        16
79  C198  1                      NA    NA     NA        NA
80  A174  6                      81     0      1        14
81  C001  2                      76     0     NA        NA
82  C199  1                      70     0      3        18
83  A269  3                      69     0      1        14
84  L021  2                      83     0      1        14
85  A079  4                      66     0      1        14
86  C200  1                      73     0      3        16
87  C202  1                      NA    NA     NA        NA
88  C203  1                      70     1     NA        NA
89  C131  1                      72     1      1        14
90  A259  5                      82     0      1        14
    abca7_80_riskcalc apoe_riskcalc
1   0                 0
2   0                 0
3   1                 1
4   0                 0
5   0                 0
6   0                 1
7   0                 0
8   0                 1
9   0                 1
10  0                 1
11  0                 1
12  0                 0
13  0                 1
14  1                 0
15  0                 0
16  0                 1
17  0                 0
18  0                 1
19  0                 0
20  0                 0
21  0                 1
22  0                 0
23  0                 0
24  0                 0
25  0                 0
26  0                 0
27  1                 1
28  0                 0
29  0                 0
30  0                 1
... ...               ...
61  0                 1
62  0                 0
63  0                 1
64  0                 0
65  1                 0
66  0                 0
67  0                 1
68  0                 0
69  0                 0
70  0                 0
71  0                 0
72  0                 0
73  0                 1
74  0                 1
75  0                 1
76  0                 0
77  0                 1
78  0                 0
79  0                 0
80  0                 0
81  0                 1
82  0                 0
83  1                 0
84  0                 1
85  0                 0
86  0                 0
87  0                 0
88  1                 0
89  0                 1
90  0                 1

# Update from 2April2024
Re-ran the split according to Bern: no APOE, propensity matched by ABCA7-80

Then split the file by ABCA7-80 positive and negative and sent to Elizabeth/Robby/Bern/Mark

See data/matching_spss/propensity_matched for the output files and Excel files.

In [ ]:
### Garbage Code! ###


# apoe_supplements_subset <- sample_n(apoe_supplements, size = 20) # Takes random sample of APOE positive participants already in shipment.
# abca7_negative_subset <- sample_n(abca7_negative, size = 20) # Only need to run this once, it takes a random sample each time
# abca7_negative_subset <- read_csv("data/abca7_negative_pilot_participants.csv") # Use this to avoid running the fullset chunk
# supplemental_abca7_negative <- sample_n(abca7_negative, size = 20)# Only need to run this once, it takes a random sample each time

# View(abca7_negative_subset)
# View(supplemental_abca7_negative)
# View(abca7_positive)
# View(abca7_negative)


# Checking for duplicates in the Negative supplemental list for Elizabeth
# abca7_neg_allpilot <- full_join(supplemental_abca7_negative, abca7_negative_subset)

# a <- duplicated(abca7_neg_allpilot)
# print(a)

# No duplicates!




# These write the pre-existing CSV files

# ABCA7+ and ABCA7- participants
# write.csv(abca7_positive, "data/abca7_positive_pilot_participants.csv", row.names = FALSE)
# write.csv(abca7_negative_subset, "data/abca7_negative_pilot_participants.csv", row.names = FALSE)

# Writing additional participants for ABCA7+ and ABCA7-
# write.csv(supplemental_abca7_negative, "data/abca7_negative_supplemental_participants.csv", row.names = FALSE)
# write.csv(apoe_supplements, "data/abca7_positive_supplemental_participants.csv", row.names = FALSE)