# Subsetting for Dr. Elahi's Proteomics Pilot

In [1]:
# API Code to pull REDCap Report

#!/usr/bin/env python
import requests
data = {
    'token': '', # Write in token before running
    'content': 'report',
    'format': 'csv',
    'report_id': '3739',
    'csvDelimiter': '',
    'rawOrLabel': 'raw',
    'rawOrLabelHeaders': 'raw',
    'exportCheckboxLabel': 'false',
    'returnFormat': 'csv'
}
r = requests.post('https://redcap.rutgers.edu/api/',data=data)
print('HTTP Status: ' + str(r.status_code))
print(r.text) # This prints the HTML style export, comment this line to stop it from printing.

import pandas as pd
from io import StringIO
df = pd.read_csv(StringIO(r.text))

data1 = df
data1 = data1.drop('redcap_repeat_instrument', axis=1)
data1 = data1.groupby(['seqid', 'redcap_repeat_instance']).first().reset_index()
data1.to_csv("/Users/markgluck/Desktop/REDCap/Proteomics Pilot Participant Selection/data/pilot_proteomics_data.csv", index=False) # Change file path before running

data1

# You don't have to run this chunk to use this Notebook, the dataset is "pilot_proteomics_data.csv" in the /data folder

HTTP Status: 200

,seqid,redcap_repeat_instance,subjectid,age_1,gender,education,education_yrs,abca7_80_riskcalc,apoe_riskcalc
0,A001,1,None,NaN,NaN,NaN,NaN,NaN,NaN
1,A002,1,None,NaN,NaN,NaN,NaN,NaN,NaN
2,A003,1,None,NaN,NaN,NaN,NaN,NaN,NaN
3,A003,5,AA_4R003_L,75.0,1.0,1.0,14.0,NaN,NaN
4,A004,1,None,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1246,L152,1,AA_3R152_L,NaN,0.0,1.0,13.0,NaN,NaN
1247,L248,1,AA_4RL248,NaN,NaN,NaN,NaN,NaN,NaN
1248,L259,1,None,NaN,NaN,NaN,NaN,NaN,NaN
1249,L270,1,None,NaN,NaN,NaN,NaN,NaN,NaN
1250,L272,1,AA_R272_L,NaN,NaN,1.0,12.0,NaN,NaN

In [2]:
library(readr)

fullset <- read_csv("/Users/markgluck/Desktop/REDCap/Proteomics Pilot Participant Selection/data/pilot_proteomics_data.csv",
    col_types = cols(
        seqid = col_character(),
        redcap_repeat_instance = col_number(),
        age_1 = col_number(),
        gender = col_double(),
        education = col_number(),
        education_yrs = col_number(),
        abca7_80_riskcalc = col_number(),
        apoe_riskcalc = col_number()
    ),
    na = c("-9", "")
)

spec(fullset)
summary(fullset)

cols(
  seqid = col_character(),
  redcap_repeat_instance = col_number(),
  subjectid = col_character(),
  age_1 = col_number(),
  gender = col_double(),
  education = col_number(),
  education_yrs = col_number(),
  abca7_80_riskcalc = col_number(),
  apoe_riskcalc = col_number()
)

    seqid           redcap_repeat_instance  subjectid             age_1
 Length:1251        Min.   :1.000          Length:1251        Min.   :24.00
 Class :character   1st Qu.:1.000          Class :character   1st Qu.:64.00
 Mode  :character   Median :1.000          Mode  :character   Median :69.00
                    Mean   :1.556                             Mean   :69.17
                    3rd Qu.:2.000                             3rd Qu.:74.00
                    Max.   :9.000                             Max.   :92.00
                                                              NA's   :390
     gender         education     education_yrs   abca7_80_riskcalc
 Min.   :0.0000   Min.   :0.000   Min.   : 6.00   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.000   1st Qu.:12.00   1st Qu.:0.0000
 Median :0.0000   Median :1.000   Median :14.00   Median :0.0000
 Mean   :0.1911   Mean   :1.127   Mean   :13.81   Mean   :0.1034
 3rd Qu.:0.0000   3rd Qu.:2.000   3rd Qu.:15.50   3rd Qu.:0.0000
 Max.   :1.0000   Max.   :4.000   Max.   :22.00   Max.   :1.0000
 NA's   :126      NA's   :674     NA's   :398     NA's   :1077
 apoe_riskcalc
 Min.   :0.0000
 1st Qu.:0.0000
 Median :0.0000
 Mean   :0.4023
 3rd Qu.:1.0000
 Max.   :1.0000
 NA's   :1077

In [6]:
# Subsetting for the ABCA7 Negative dataset
library(dplyr)
library(skimr)

apoenegative <- fullset %>%
  filter(apoe_riskcalc == "0")

abca7_positive <- fullset %>%
  filter(abca7_80_riskcalc == 1)

abca7_negative <- fullset %>%
  filter(abca7_80_riskcalc == 0) %>%
  filter(age_1 <= 78)

# abca7_negative_subset <- sample_n(abca7_negative, size = 20) # Only need to run this once, it takes a random sample each time
# abca7_negative_subset <- read_csv("data/abca7_negative_pilot_participants.csv") # Use this to avoid running the fullset chunk
# supplemental_abca7_negative <- sample_n(abca7_negative, size = 20)# Only need to run this once, it takes a random sample each time

# View(abca7_negative_subset)
# View(supplemental_abca7_negative)
# View(abca7_positive)
# View(abca7_negative)

Rows: 20 Columns: 9
-- Column specification --------------------------------------------------------
Delimiter: ","
chr (2): seqid, subjectid
dbl (7): redcap_repeat_instance, age_1, gender, education, education_yrs, ab...

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

   seqid redcap_repeat_instance subjectid age_1 gender education education_yrs
1  C110  1                      COV110    75    1       2        16
2  C008  1                      COV008    72    0       2        16
3  C021  1                      COV021    77    1       0        12
4  C132  1                      COV132    63    0       1        14
5  C186  1                      COV186    65    0       3        18
6  C046  1                      COV046    62    0       0        10
7  C054  1                      COV054    71    1       4        20
8  C129  1                      COV129    65    0       1        14
9  A392  3                      AA_R392_L 73    1       2        16
10 A504  1                      A504      75    0      NA        11
11 C049  1                      COV049    69    0       1        13
12 C195  1                      COV195    74    0      NA        14
13 C201  1                      COV179    63    1       1        14
14 C038  1                      COV038    73    0       3        18
15 C060  1                      COV060    70    0       1        14
16 C178  1                      COV178    76    0       1        14
17 C091  1                      COV091    72    0       0        10
18 C041  1                      COV041    75    1       0        12
19 A359  3                      AA_R359_L 73    0       0        12
20 C040  1                      COV040    63    1       3        16
   abca7_80_riskcalc apoe_riskcalc
1  0                 0
2  0                 0
3  0                 0
4  0                 1
5  0                 0
6  0                 0
7  0                 0
8  0                 1
9  0                 1
10 0                 0
11 0                 0
12 0                 1
13 0                 0
14 0                 1
15 0                 0
16 0                 1
17 0                 0
18 0                 0
19 0                 1
20 0                 0

   seqid redcap_repeat_instance subjectid  age_1 gender education education_yrs
1  C178  1                      COV178     76    0       1        14
2  A079  4                      AA_3R079_L 66    0       1        14
3  C194  1                      COV194     72    0       2        16
4  C059  1                      COV059     66    0       1        14
5  C048  1                      COV048     71    1       1        13
6  C129  1                      COV129     65    0       1        14
7  C034  1                      COV034     62    0       4        20
8  C001  2                      COV_R001   76    0      NA        NA
9  C037  1                      COV037     69    1       0        12
10 C192  1                      COV192     76    0      NA        13
11 C032  1                      COV032     62    1       2        16
12 C042  1                      COV042     77    0       0        12
13 C001  1                      COV001     74    0       3        18
14 C132  1                      COV132     63    0       1        14
15 C008  1                      COV008     72    0       2        16
16 C140  1                      COV140     69    1       0        12
17 C185  1                      COV185     75    0       2        14
18 C073  1                      COV073     62    0       1        14
19 C043  1                      COV043     65    0       1        14
20 A504  1                      NA         75    0      NA        11
   abca7_80_riskcalc apoe_riskcalc
1  0                 1
2  0                 0
3  0                 1
4  0                 1
5  0                 1
6  0                 1
7  0                 0
8  0                 1
9  0                 1
10 0                 0
11 0                 1
12 0                 0
13 0                 1
14 0                 1
15 0                 0
16 0                 0
17 0                 1
18 0                 0
19 0                 0
20 0                 0

ERROR: Error: argument 'incomparables != FALSE' is not used (yet)

In [9]:
# Checking for duplicates in the Negative supplemental list for Elizabeth
abca7_neg_allpilot <- full_join(supplemental_abca7_negative, abca7_negative_subset)

a <- duplicated(abca7_neg_allpilot)
print(a)

# No duplicates!

Joining with `by = join_by(seqid, redcap_repeat_instance, subjectid, age_1,
gender, education, education_yrs, abca7_80_riskcalc, apoe_riskcalc)`

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [37]:
# Supplemental Positive participants using APOE+

library(readxl)
library(dplyr)

mt_sinai <- read_excel("/Users/markgluck/Desktop/REDCap/Proteomics Pilot Participant Selection/data/MtSinai_Shipment.xlsx")

apoepositive <- fullset %>%
  filter(apoe_riskcalc == "1") %>%
  select(subjectid, apoe_riskcalc, age_1, gender, education_yrs)

apoe_supplements <- inner_join(mt_sinai, apoepositive, by = "subjectid")

apoe_supplements_subset <- sample_n(apoe_supplements, size = 20)

# head(apoepositive)
summary(apoe_supplements_subset)

  subjectid              Date                         Box 1
 Length:20          Min.   :2022-09-01 00:00:00   Min.   :1.00
 Class :character   1st Qu.:2022-10-30 06:00:00   1st Qu.:1.00
 Mode  :character   Median :2023-02-14 00:00:00   Median :2.00
                    Mean   :2023-02-14 13:12:00   Mean   :2.05
                    3rd Qu.:2023-05-18 00:00:00   3rd Qu.:3.00
                    Max.   :2023-09-19 00:00:00   Max.   :4.00

  Position #        Sample Type           Aliquots Volume (mL)
 Length:20          Length:20          Min.   :2   Length:20
 Class :character   Class :character   1st Qu.:2   Class :character
 Mode  :character   Mode  :character   Median :2   Mode  :character
                                       Mean   :2
                                       3rd Qu.:2
                                       Max.   :2

 apoe_riskcalc     age_1           gender       education_yrs
 Min.   :1     Min.   :60.00   Min.   :0.0000   Min.   :12.00
 1st Qu.:1     1st Qu.:71.00   1st Qu.:0.0000   1st Qu.:14.00
 Median :1     Median :73.00   Median :0.0000   Median :14.00
 Mean   :1     Mean   :72.33   Mean   :0.3333   Mean   :14.54
 3rd Qu.:1     3rd Qu.:74.25   3rd Qu.:1.0000   3rd Qu.:14.00
 Max.   :1     Max.   :83.00   Max.   :1.0000   Max.   :22.00
               NA's   :8       NA's   :2        NA's   :7

In [47]:
# All ABCA7 negative participants which are also in the shipment set up for Mt. Sinai already

abca7_negative_supplements <- inner_join(mt_sinai, abca7_negative, by = "subjectid") %>%
    select(-seqid, -redcap_repeat_instance)

View(abca7_negative_supplements)

write.csv(abca7_negative_supplements, "data/abca7_all_negative_pilots_1april2024_mzs.csv", row.names = FALSE)

   subjectid  Date       Box 1 Position # Sample Type Aliquots Volume (mL)
1  COV129     2022-10-18 1     47,48      EDTA plasma 2        250 uL
2  COV131     2022-10-25 1     51,52      EDTA plasma 2        250 uL
3  AA_R359_L  2022-10-25 1     53,54      EDTA plasma 2        250 uL
4  COV132     2022-11-01 1     57,58      EDTA plasma 2        250 uL
5  AA_R392_L  2022-11-03 1     67,68      EDTA plasma 2        250 uL
6  COV139     2023-01-05 1     93, 94     EDTA plasma 2        250 uL
7  COV140     2023-01-05 1     95, 96     EDTA plasma 2        250 uL
8  COV141     2023-01-17 1     97, 98     EDTA plasma 2        250 uL
9  COV142     2023-01-17 1     99, 100    EDTA plasma 2        250 uL
10 COV146     2023-01-24 2     11,12      EDTA plasma 2        250 uL
11 COV148     2023-01-31 2     15,16      EDTA plasma 2        250 uL
12 COV149     2023-01-31 2     17,18      EDTA plasma 2        250 uL
13 COV176     2023-04-04 2     73,74      EDTA plasma 2        250 uL
14 COV178     2023-04-06 2     77,78      EDTA plasma 2        250 uL
15 COV182     2023-04-11 2     83,84      EDTA plasma 2        250 uL
16 COV185     2023-04-25 2     94, 95     EDTA plasma 2        250 uL
17 COV186     2023-05-02 3     1,2        EDTA plasma 2        250 uL
18 COV188     2023-05-04 3     7,8        EDTA plasma 2        250 uL
19 AA_4R189_L 2023-05-04 3     9,10       EDTA plasma 2        250 uL
20 AA_4R143_L 2023-05-11 3     17,18      EDTA plasma 2        250 uL
21 COV191     2023-05-16 3     19,20      EDTA plasma 2        250 uL
22 COV192     2023-05-16 3     21,22      EDTA plasma 2        250 uL
23 COV193     2023-05-18 3     23,24      EDTA plasma 2        250 uL
24 COV194     2023-05-18 3     25,26      EDTA plasma 2        250 uL
25 COV195     2023-05-18 3     27,28      EDTA plasma 2        250 uL
26 COV_R001   2023-05-23 3     39,40      EDTA plasma 2        250 uL
27 COV199     2023-05-25 3     41,42      EDTA plasma 2        250 uL
28 AA_3R079_L 2023-05-25 3     47,48      EDTA plasma 2        250 uL
29 COV200     2023-05-30 3     49,50      EDTA plasma 2        250 uL
30 COV131     2023-06-13 3     61,62      EDTA plasma 2        250 uL
   age_1 gender education education_yrs abca7_80_riskcalc apoe_riskcalc
1  65    0       1        14            0                 1
2  72    1       1        14            0                 1
3  73    0       0        12            0                 1
4  63    0       1        14            0                 1
5  73    1       2        16            0                 1
6  65    0       0        12            0                 0
7  69    1       0        12            0                 0
8  66    0       0        12            0                 0
9  69    1       1        14            0                 0
10 68    0       0        12            0                 0
11 68    0       1        14            0                 1
12 66    0       0        12            0                 1
13 67    0       1        13            0                 0
14 76    0       1        14            0                 1
15 75    0      NA        12            0                 1
16 75    0       2        14            0                 1
17 65    0       3        18            0                 0
18 66    0       1        13            0                 0
19 73    0       1        13            0                 1
20 77    0      NA        NA            0                 0
21 70    0       2        13            0                 0
22 76    0      NA        13            0                 0
23 60    0       2        12            0                 1
24 72    0       2        16            0                 1
25 74    0      NA        14            0                 1
26 76    0      NA        NA            0                 1
27 70    0       3        18            0                 0
28 66    0       1        14            0                 0
29 73    0       3        16            0                 0
30 72    1       1        14            0                 1

In [33]:
library(skimr)

skim(supplemental_abca7_negative)

-- Data Summary ------------------------
                           Values
Name                       supplemental_abca7_negati...
Number of rows             20
Number of columns          9
_______________________
Column type frequency:
  character                2
  numeric                  7
________________________
Group variables            None

-- Variable type: character ----------------------------------------------------
  skim_variable n_missing complete_rate min max empty n_unique whitespace
1 seqid                 0          1      4   4     0       19          0
2 subjectid             1          0.95   6  10     0       19          0

-- Variable type: numeric ------------------------------------------------------
  skim_variable          n_missing complete_rate  mean    sd p0 p25 p50 p75 p100
1 redcap_repeat_instance         0          1     1.2  0.696  1   1   1   1    4
2 age_1                          0          1    69.6  5.40  62  65  70  75   77
3 gender                         0          1     0.2  0.410  0   0   0   0    1
4 education                      3          0.85  1.35 1.06   0   1   1   2    4
5 education_yrs                  1          0.95 14.3  2.18  11  13  14  15   20
6 abca7_80_riskcalc              0          1     0    0      0   0   0   0    0
7 apoe_riskcalc                  0          1     0.55 0.510  0   0   1   1    1
  hist
1 "\u2587\u2581\u2581\u2581\u2581"
2 "\u2587\u2582\u2583\u2583\u2587"
3 "\u2587\u2581\u2581\u2581\u2582"
4 "\u2583\u2587\u2583\u2581\u2581"
5 "\u2583\u2587\u2582\u2581\u2581"
6 "\u2581\u2581\u2587\u2581\u2581"
7 "\u2586\u2581\u2581\u2581\u2587"

ERROR: Error in is.null(text_repr) || nchar(text_repr) == 0L: 'length = 17' in coercion to 'logical(1)'

In [36]:
skim(apoe_supplements_subset)

-- Data Summary ------------------------
                           Values
Name                       apoe_supplements_subset
Number of rows             20
Number of columns          11
_______________________
Column type frequency:
  POSIXct                  1
  character                4
  numeric                  6
________________________
Group variables            None

-- Variable type: POSIXct ------------------------------------------------------
  skim_variable n_missing complete_rate min                 max
1 Date                  0             1 2022-09-01 00:00:00 2023-06-13 00:00:00
  median              n_unique
1 2023-03-02 00:00:00       14

-- Variable type: character ----------------------------------------------------
  skim_variable n_missing complete_rate min max empty n_unique whitespace
1 subjectid             0             1   6  10     0       19          0
2 Position #            0             1   4   6     0       15          0
3 Sample Type           0             1  11  11     0        1          0
4 Volume (mL)           0             1   6   6     0        1          0

-- Variable type: numeric ------------------------------------------------------
  skim_variable n_missing complete_rate   mean    sd p0  p25 p50   p75 p100
1 Box 1                 0           1    1.95  0.759  1  1     2  2.25    3
2 Aliquots              0           1    2     0      2  2     2  2       2
3 apoe_riskcalc         0           1    1     0      1  1     1  1       1
4 age_1                12           0.4 69     5.50  60 64.5  72 72.2    75
5 gender                2           0.9  0.278 0.461  0  0     0  0.75    1
6 education_yrs        10           0.5 14.7   2.75  12 14    14 14      22
  hist
1 "\u2585\u2581\u2587\u2581\u2585"
2 "\u2581\u2581\u2587\u2581\u2581"
3 "\u2581\u2581\u2587\u2581\u2581"
4 "\u2585\u2582\u2581\u2587\u2585"
5 "\u2587\u2581\u2581\u2581\u2583"
6 "\u2587\u2581\u2581\u2581\u2581"

ERROR: Error in is.null(text_repr) || nchar(text_repr) == 0L: 'length = 21' in coercion to 'logical(1)'

In [ ]:
# ABCA7+ and ABCA7- participants
write.csv(abca7_positive, "data/abca7_positive_pilot_participants.csv", row.names = FALSE)
write.csv(abca7_negative_subset, "data/abca7_negative_pilot_participants.csv", row.names = FALSE)

In [38]:
# Writing additional participants for ABCA7+ and ABCA7-
write.csv(supplemental_abca7_negative, "data/abca7_negative_supplemental_participants.csv", row.names = FALSE)
write.csv(apoe_supplements, "data/abca7_positive_supplemental_participants.csv", row.names = FALSE)